:root {
  --theme-color: #272d78;
  --white: #fff;
  --accent-rgb: 145, 178, 255;
  --accent-color: rgb(var(--accent-rgb));
  --theme-bg: #01102d;
  --theme-bg-light: #0d1e41;
  --font-size: 1.6rem;
  --primary-font: "Clash Display", sans-serif;
  --secondary-font: "General Sans", sans-serif;
}

*,
*::before,
*::after {
  font-family: var(--secondary-font);
  line-height: 1.2;
  letter-spacing: 0.06ch;
  box-sizing: border-box;
  margin: 0;
  border: none;
}

*:focus-visible {
  outline: 3px dashed var(--accent-color);
  outline-offset: 2px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primary-font);
  letter-spacing: 0.06ch;
}

h2 {
  font-size: 3.6rem;
}

a {
  color: inherit;
  text-decoration: none;
}

.contain-y {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

html {
  font-size: 62.5%;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 50%;
  }
}

body {
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  background-color: var(--theme-bg);
  color: var(--white);
}

main {
  min-height: 100vh;
}

header {
  position: absolute;
  z-index: 10;
  width: 100%;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  color: var(--white);
  font-size: 1.8rem;
}
header nav a.logo {
  font-family: var(--primary-font);
  font-weight: 700;
}
header nav ul {
  list-style-type: none;
  display: flex;
  gap: 2.5rem;
  padding: 3rem 0;
}
header nav ul li a {
  line-height: 5rem;
  font-weight: 300;
}
header nav ul li a:hover {
  color: var(--accent-color);
}
header nav ul img {
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
}

.active-nav {
  border-bottom: 2px solid var(--accent-color);
}

footer section {
  display: flex;
  justify-content: space-between;
}
footer section div .logo {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 2.6rem;
}
footer section div p {
  margin: 1rem 0;
}
footer section ul {
  display: flex;
  gap: 2.5rem;
  list-style-type: none;
}
footer .follow-us {
  margin-top: 2rem;
}
footer .social-media-icons {
  display: flex;
  gap: 2rem;
}
footer .social-media-icons a {
  display: block;
  max-width: 2rem;
  height: 2rem;
}
footer .copy-right {
  margin-top: 5rem;
} /*# sourceMappingURL=index.css.map */

/* Home page */
section.landing {
  height: 100dvh;
  font-size: 2rem;
  position: relative;
}
section.landing picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.heading-wrapper {
  position: absolute;
  width: 100%;
  height: 94%;
  display: flex;
  align-items: center;
}
.heading-wrapper > div {
  width: 100%;
  padding: 0 2rem;
}
.heading-wrapper > div h1,
.heading-wrapper > div p {
  max-width: 550px;
}
.heading-wrapper > div h1 {
  font-size: 6rem;
  margin-bottom: 2rem;
}
.heading-wrapper > div p {
  font-size: 2.5rem;
  font-weight: 300;
}

.pitches {
  position: absolute;
  bottom: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  width: 100%;
  padding: 0 2rem 2rem;
}
.pitches > p {
  position: absolute;
  top: -3.5rem;
  width: 100%;
  font-family: var(--primary-font);
  color: var(--accent-color);
  text-align: center;
  font-weight: 200;
  font-size: 1.8rem;
}
.pitches > a {
  border: 1px solid #1a365e;
  display: block;
  padding: 1.5rem 1.8rem;
  border-radius: 5rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(20px) saturate(160%) brightness(220%);
  backdrop-filter: blur(20px) saturate(160%) brightness(220%);
}
.pitches > a:hover {
  background-color: rgba(70, 70, 70, 0.2);
  -webkit-backdrop-filter: blur(20px) saturate(280%) brightness(280%);
  backdrop-filter: blur(20px) saturate(280%) brightness(280%);
}
.pitches > a h2 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 0.2rem;
}
.pitches > a p {
  font-size: 1.7rem;
  font-weight: 200;
}
@media screen and (max-width: 768px) {
  .pitches > a p {
    display: none;
  }
}

.search-container {
  background: url("https://img.freepik.com/free-vector/blue-topographic-map-wallpaper_23-2148583301.jpg?w=1380&t=st=1680352132~exp=1680352732~hmac=9def96f24f2c0fd7f7097d0fa66667ba3f4cb39a4cf3f2768971698f30880ee3"),
    linear-gradient(339deg, rgb(22, 15, 44) 0%, rgb(25, 42, 82) 100%);
  background-blend-mode: hard-light;
  text-align: center;
  padding: 20rem 2rem;
}
.search-container .search-input {
  margin: 2rem auto;
}
.search-container .search-input span {
  position: relative;
}
.search-container .search-input input {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 1.5rem 2rem;
  border-radius: 5rem;
  font-size: 2rem;
  font-family: var(--primary-font);
}
.search-container .search-input button {
  position: absolute;
  right: -1px;
  border-radius: 0 5rem 5rem 0;
  background-color: var(--theme-color);
  color: var(--white);
  padding: 1.45rem 1.5rem;
  display: inline-grid;
  place-items: center;
  cursor: pointer;
}
.search-container .search-input button svg {
  width: 2.5rem;
  height: 2.5rem;
}

.pitch-type-select label {
  padding-right: 1rem;
}
.pitch-type-select select {
  max-width: 600px;
  margin: 0 auto;
  padding: 1.5rem 2rem;
  border-radius: 5rem;
  font-size: 1.5rem;
  font-family: var(--primary-font);
}

.campsites > div > h2 {
  margin-bottom: 3rem;
  text-align: center;
}

.site-listing {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: space-between;
}
.site-listing .card {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border-radius: 2rem;
  max-height: 400px;
  text-align: left;
  position: relative;
}
.site-listing .card picture {
  z-index: 0;
  display: block;
  width: 100%;
  height: 100%;
}
.site-listing .card picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  transition: transform 0.4s ease-out;
}
.site-listing .card picture:hover img {
  transform: scale(1.1);
}
.site-listing .card .content {
  position: absolute;
  padding: 2rem 2.5rem;
  width: 100%;
  z-index: 1;
  bottom: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
} /*# End home page */

/*# Start information page */

.interest-container {
  padding: 2rem 0;
}
.interest-container h2 {
  margin-bottom: 2rem;
}

.interest {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}
.interest a {
  border-radius: 2rem;
  padding: 2rem;
  background-color: var(--theme-bg-light);
}
.interest a img {
  width: 100%;
  height: 24rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}
/*# End information page */

/*# Start review page */
.reviews {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.rating {
  display: inline-flex;
  flex-direction: row-reverse;
  font-size: 24px;
  color: #ddd;
}

.rating input[type="radio"] {
  display: none;
}

.rating label {
  display: inline-block;
  padding: 5px;
  margin: 0;
  cursor: pointer;
}

.rating label:hover,
.rating label:hover ~ label,
.rating input[type="radio"]:checked ~ label {
  color: #ffd700;
}

.review {
  display: flex;
  background-color: var(--theme-bg-light);
  padding: 2rem;
  border-radius: 2rem;
  gap: 1.5rem;
}
.review .place img {
  border: 4px solid var(--accent-color);
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
}
.review .author {
  margin-top: 1rem;
} /*# End review */

/* Start authentication screens */
.auth {
  display: grid;
  height: 100vh;
  place-items: center;
}

.auth form {
  background-color: var(--theme-bg-light);
  padding: 2rem;
  border-radius: 2rem;
  max-width: 400px;
  width: 100%;
}
.auth h1 {
  font-size: 3rem;
}
.auth form small {
  display: block;
  margin-bottom: 2rem;
}
.auth label p {
  margin-bottom: 0.3rem;
}
.auth input {
  border-radius: 0.8rem;
  padding: 1rem 1.5rem;
  width: 100%;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.btn {
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  font-size: 1.5rem;
  font-family: var(--primary-font);
  width: 100%;
  cursor: pointer;
  display: inline-block;
  transition: opacity 0.1s ease-out;
}
.btn:hover {
  opacity: 0.8;
}
.btn:active {
  opacity: 0.5;
}
.btn-primary {
  border: 1px solid rgba(var(--accent-rgb), 0.4);
  background-color: var(--theme-color);
  color: var(--white);
}

.to-next-auth {
  text-align: center;
  margin-top: 2rem;
}

.to-next-auth a {
  color: var(--accent-color);
}
