:root {
  --theme-color: #272d78;
  --white: #fff;
  --accent-rgb: 145, 178, 255;
  --accent-color: rgb(var(--accent-rgb));
  --error-color: #fa7e7e;
  --theme-bg: #01102d;
  --theme-bg-light: #0d1e41;
  --font-size: 1.6rem;
  --primary-font: "Clash Display", sans-serif;
  --secondary-font: "General Sans", sans-serif;
  --theme-light: #8de6ff;
}

*,
*::before,
*::after {
  font-family: var(--secondary-font);
  line-height: 1.2;
  letter-spacing: 0.06ch;
  box-sizing: border-box;
  margin: 0;
  border: none;
}

*:focus-visible {
  outline: 3px dashed var(--accent-color);
  outline-offset: 2px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primary-font);
  letter-spacing: 0.06ch;
}

h2 {
  font-size: 3.6rem;
}

a {
  color: inherit;
  text-decoration: none;
}

.contain-y {
  padding-top: 13rem;
  padding-bottom: 10rem;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

html {
  font-size: 62.5%;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 50%;
  }
}

body {
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  background-color: var(--theme-bg);
  color: var(--white);
}

main {
  min-height: 100vh;
}

header {
  position: absolute;
  z-index: 10;
  width: 100%;
  background: linear-gradient(
    0deg,
    rgba(1, 10, 29, 0) 0%,
    rgba(2, 11, 31, 0.248) 50%,
    rgba(4, 14, 35, 0.8) 100%
  );
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--white);
  font-size: 1.8rem;
}
header nav a.logo {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 3rem;
}

header nav .hamburger {
  display: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 3rem 0;
}

.navitems {
  list-style-type: none;
  display: flex;
  gap: 2.5rem;
  padding: 3rem 0;
}

@media screen and (max-width: 1100px) {
  .navitems {
    display: none;
  }

  header nav .hamburger {
    display: block;
  }

  header.open {
    background-color: var(--theme-bg-light);
  }
  .navitems.open {
    position: fixed;
    top: 10rem;
    padding: 1rem 4rem;
    left: 0;
    background-color: var(--theme-bg-light);
    width: 100%;
    display: block !important;
  }
  .navitems.open a {
    display: block;
  }
  .navitems.open .nav-logout,
  .navitems.open .nav-register,
  .navitems.open .nav-login,
  .navitems.open .nav-profile {
    display: block;
    width: 100%;
    text-align: center;
    margin: 1rem 0;
  }
}

header nav ul li a {
  line-height: 5rem;
  font-weight: 300;
  transition: opacity 0.1s ease-in-out;
}
header nav ul li a:hover {
  opacity: 0.7;
}
header nav ul img {
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
}

nav .nav-logout {
  background-color: var(--error-color);
  border: 1px solid var(--error-color);
  border-radius: 5rem;
  padding: 0.7rem 1.8rem;
  color: var(--white);
  font-weight: 300;
  font-size: 1.7rem;
}
nav .nav-register,
.nav-profile {
  background-color: transparent;
  border: 1px solid var(--theme-light);
  border-radius: 5rem;
  padding: 0.7rem 1.8rem;
  color: var(--theme-light);
  font-weight: 300;
  font-size: 1.7rem;
}
nav .nav-login {
  background-color: var(--theme-light);
  border: 1px solid var(--theme-light);
  border-radius: 5rem;
  padding: 0.7rem 1.8rem;
  color: var(--theme-bg);
  font-weight: 300;
  font-size: 1.7rem;
}

.active-nav {
  border-bottom: 2px solid var(--theme-light);
}

footer section {
  display: flex;
  flex-wrap: wrap;
  gap: 6rem 0;
  justify-content: space-between;
}
footer section div .logo {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 2.6rem;
}
footer section div p {
  margin: 1rem 0;
}
footer section ul {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  list-style-type: none;
  padding-left: 0;
}
footer .follow-us {
  margin-top: 2rem;
}
footer .social-media-icons {
  display: flex;
  gap: 2rem;
}
footer .social-media-icons a {
  display: block;
  max-width: 2rem;
  height: 2rem;
}
footer .copy-right {
  margin-top: 5rem;
} /*# Footer */

/* Home page */
section.landing {
  height: 100dvh;
  font-size: 2rem;
  position: relative;
  z-index: 4;
}
section.landing picture {
  width: 100%;
  height: 100vh;
}
section.landing picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.heading-wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  height: 94%;
  display: flex;
  align-items: center;
  z-index: 3;
}
#pictures {
  z-index: -1;
  width: 100%;
  height: 100dvh;
}
.heading-wrapper > div {
  width: 100%;
  padding: 0 2rem;
}
.heading-wrapper > div h1,
.heading-wrapper > div p {
  max-width: 550px;
}
.heading-wrapper > div h1 {
  font-size: 6rem;
  margin-bottom: 2rem;
}
.heading-wrapper > div p {
  font-size: 2.5rem;
  font-weight: 300;
}

.pitches {
  /* position: absolute; */
  /* bottom: 0; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(50vw, 250px), 1fr));
  gap: 1.5rem;
  width: 100%;
  padding: 0 2rem 2rem;
}
.pitch-container > h2 {
  text-align: center;
  margin: 5rem 0 3rem;
}
.pitch {
  border: 1px solid #1a365e;
  display: block;
  padding: 1.5rem 1.2rem 5rem;
  border-radius: 4rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(20px) saturate(160%) brightness(220%);
  backdrop-filter: blur(20px) saturate(160%) brightness(220%);
}
.pitch:hover {
  background-color: rgba(70, 70, 70, 0.2);
  -webkit-backdrop-filter: blur(20px) saturate(280%) brightness(280%);
  backdrop-filter: blur(20px) saturate(280%) brightness(280%);
}
.pitch h2 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
}
.pitch p {
  font-size: 1.7rem;
  font-weight: 200;
}
.pitch picture {
  display: block;
  width: 100%;
  height: 100%;
}
.pitch picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3rem;
}
.pitch-label {
  background-color: var(--theme-light);
  padding: 0.3rem 0.7rem;
  border-radius: 0.7rem;
  color: var(--theme-bg);
  font-weight: 300;
}
@media screen and (max-width: 768px) {
  .pitches > a p {
    display: none;
  }
}

.counter {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}
.search-container .search-input {
  margin: 2rem auto;
}
.search-container .search-input form {
  display: inline;
  position: relative;
}
.search-container .search-input input {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 1.5rem 2rem;
  border-radius: 5rem;
  font-size: 2rem;
  font-family: var(--primary-font);
}
.search-container .search-input button {
  position: absolute;
  right: -1px;
  border-radius: 0 5rem 5rem 0;
  background-color: var(--theme-color);
  color: var(--white);
  padding: 1.45rem 1.5rem;
  display: inline-grid;
  place-items: center;
  cursor: pointer;
}
.search-container .search-input button svg {
  width: 2.5rem;
  height: 2.5rem;
}

.pitch-type-select label {
  padding-right: 1rem;
}
.pitch-type-select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  -moz-border-radius: 5rem;
  -webkit-border-radius: 5rem;
  max-width: 600px;
  margin: 0 auto;
  padding: 1.5rem 2rem;
  border-radius: 5rem;
  font-size: 1.5rem;
  font-family: var(--primary-font);
}

.campsites > div > h2 {
  margin-bottom: 3rem;
  text-align: center;
}

.site-listing {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(50vw, 300px), 1fr));
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: space-between;
}
.site-listing .card {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border-radius: 2rem;
  max-height: 400px;
  text-align: left;
  position: relative;
}
.site-listing .card picture {
  z-index: 0;
  display: block;
  width: 100%;
  height: 100%;
}
.site-listing .card picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  transition: transform 0.4s ease-out;
}
.site-listing .card picture:hover img {
  transform: scale(1.1);
}
.site-listing .card .content {
  position: absolute;
  padding: 2rem 2.5rem;
  width: 100%;
  z-index: 1;
  bottom: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
}
.site-listing .card .content h3 {
  font-size: 2.2rem;
  font-weight: 600;
}
.site-listing .card .content small {
  display: inline-block;
  margin-top: 0.5rem;
}
/*# End home page */

/*# Start information page */

.interest-container {
  padding: 2rem 0;
}
.interest-container h2 {
  margin-bottom: 2rem;
}

.interest {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(50vw, 300px), 1fr));
  gap: 2rem;
}
.interest a {
  border-radius: 2rem;
  padding: 2rem;
  background-color: var(--theme-bg-light);
}
.interest a img {
  width: 100%;
  height: 100%;
  max-height: 18rem;
  object-fit: cover;
  border-radius: 1rem;
  margin-bottom: 1rem;
}
/*# End information page */

/*# Start review page */
.reviews {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(min(50vw, 400px), 1fr));
}

.rating {
  background-color: var(--theme-bg);
  border: 1px solid var(--theme-color);
  display: inline-block;
  color: var(--white);
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

.review {
  display: flex;
  background-color: var(--theme-bg-light);
  padding: 2rem;
  border-radius: 2rem;
  gap: 1.5rem;
  position: relative;
  z-index: 1;
}
.review > *:not(.site) {
  z-index: 1;
}
.review .site,
.review .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}
.review .overlay {
  border-radius: 2rem;
  background: linear-gradient(
    115deg,
    rgba(0, 0, 0, 0.1) -20%,
    rgb(3, 1, 22) 100%
  );
}

.review .site img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2rem;
}

@media screen and (max-width: 500px) {
  .review {
    flex-direction: column;
  }
}

.review .place img {
  border: 4px solid var(--accent-color);
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
}
.review .author {
  margin-top: 1rem;
} /*# End review */

/*# Start explore page */
.explore-search {
  display: grid;
  gap: 3rem;
  padding-top: 16rem;
  place-items: center;
}
.explore-search input {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 1rem 2rem;
  border-radius: 5rem;
  font-size: 1.6rem;
  font-family: var(--primary-font);
}
.explore-search form {
  display: flex;
  gap: 1rem;
}
.explore-search button.btn {
  display: block;
  flex-shrink: 0.5;
  border-radius: 50%;
  width: 6rem;
  height: 5rem;
  padding: 1rem;
}

/* Start authentication screens */
.auth {
  display: grid;
  height: 100vh;
  place-items: center;
}

.auth form {
  background-color: var(--theme-bg-light);
  padding: 2rem;
  border-radius: 2rem;
  max-width: 400px;
  width: 100%;
}
.auth h1 {
  font-size: 3rem;
}
.auth form small {
  display: block;
  margin-bottom: 2rem;
}
.auth label p {
  margin-bottom: 0.3rem;
}
.auth label label input {
  display: inline;
  width: fit-content;
}
.auth input,
.auth textarea {
  border-radius: 0.8rem;
  padding: 1rem 1.5rem;
  width: 100%;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.btn {
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  font-size: 1.5rem;
  font-family: var(--primary-font);
  width: 100%;
  cursor: pointer;
  display: inline-block;
  transition: opacity 0.1s ease-out;
}
.btn:hover {
  opacity: 0.8;
}
.btn:active {
  opacity: 0.5;
}
.btn-primary {
  border: 1px solid rgba(var(--accent-rgb), 0.4);
  background-color: var(--theme-color);
  color: var(--white);
}

.to-next-auth {
  text-align: center;
  margin-top: 2rem;
}

.to-next-auth a {
  color: var(--accent-color);
}

.auth form .error {
  color: var(--error-color);
  margin-top: 1rem;
  font-size: 1.3rem;
}

.privacy p {
  white-space: pre-line;
}
.privicy-link {
  margin-top: 2rem;
  line-height: 1.4;
}
.privicy-link a {
  color: var(--accent-color);
  text-decoration: underline;
}

/* Feature */

.feature {
  display: grid;
  gap: 2rem;
  padding: 4rem 0;
}

.feature .feature-info {
  max-width: 60rem;
}
.feature img {
  width: 100%;
  max-height: 60rem;
  height: 100%;
  object-fit: cover;
  border-radius: 2rem;
}
