section.landing {
  height: 100dvh;
  font-size: 2rem;
  position: relative;

  picture {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.heading-wrapper {
  position: absolute;
  width: 100%;
  height: 94%;
  display: flex;
  align-items: center;

  & > div {
    width: 100%;
    padding: 0 2rem;

    h1,
    p {
      max-width: 550px;
    }

    h1 {
      font-size: 6rem;
      margin-bottom: 2rem;
    }

    p {
      font-size: 2.5rem;
      font-weight: 300;
    }
  }
}

.pitches {
  position: absolute;
  bottom: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5vw;
  width: 100%;
  padding: 0 2vw 2vw;
  justify-content: center;
  flex-wrap: wrap;

  & > * {
    border: 1px solid #1a365e;
  }

  & > a {
    display: block;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(20px) saturate(160%) brightness(220%);

    &:hover {
      background-color: rgba(70, 70, 70, 0.2);
      backdrop-filter: blur(20px) saturate(280%) brightness(280%);
    }

    h2 {
      font-size: 2.5rem;
      font-weight: 600;
      margin-bottom: 0.2rem;
    }
    p {
      font-size: 1.7rem;
      font-weight: 200;

      @media screen and (max-width: 768px) {
        display: none;
      }
    }
  }
}
