:root {
  --theme-color: #000;
  --white: #fff;
  --accent-color: #91b2ff;
  --theme-bg: #01102d;
  --font-size: 1.6rem;
  --primary-font: "Clash Display", sans-serif;
  --secondary-font: "General Sans", sans-serif;
}

*,
*::before,
*::after {
  font-family: var(--secondary-font);
  line-height: 1.2;
  letter-spacing: 0.06ch;
  box-sizing: border-box;
  margin: 0;
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primary-font);
  letter-spacing: 0.06ch;
}
a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  background-color: var(--theme-bg);
  color: var(--white);
}

main {
  min-height: 100vh;
}

header {
  position: absolute;
  z-index: 10;
  width: 100%;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    color: var(--white);
    font-size: 2rem;

    a.logo {
      font-family: var(--primary-font);
      font-weight: 700;
    }

    ul {
      list-style-type: none;
      display: flex;
      gap: 2.5rem;
      padding: 3rem 0;

      li a {
        line-height: 5rem;
        font-weight: 300;

        &:hover {
          color: var(--accent-color);
        }
      }

      img {
        border-radius: 50%;
        width: 8rem;
        height: 8rem;
      }
    }
  }
}
